@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:2200001862@nttu.edu.vn">2200001862@nttu.edu.vn</a><br />
    <strong>Marketing:</strong> <a href="mailto:2200001711@nttu.edu.vn">2200001711@nttu.edu.vn</a>
</address>